body {
    margin: 0;
}
div.container {
    display: table;
    height: 100vh;
    width: 100vw;
}
div.header {
    display: table;
    height: 20%;
    width: 100%;
}
div.middle {
    display: table;
    height: 60%;
    width: 100%;
}
div.left {
    display: table-cell;
    height: 100%;
    width: 15%;
}
div.center {
    display: table cell;
    height: 100%;
    border: solid 2px black;
}
div.right {
    display: table-cell;
    height: 100%;
    width: 15%;
}
div.bottom {
    display: table;
    height: 20%;
    width: 100%;
}

div.center-header {
    display: table;
    height: 20%;
    width: 100%;
}
div.center-header p {
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    font-size: 5vw;
}
form.center-input {
    display: table;
    height: 80%;
    width: 100%;
}
div.center-input-username {
    display: table;
    height: 30%;
    width: 100%;
}
div.center-input-username-text {
    display: table-cell;
    height: 100%;
    width: 40%;
    vertical-align: middle;
    text-align: center;
}
div.center-input-username-text p {
    font-size: 4vh;
}
div.center-input-username-box {
    display: table-cell;
    height: 100%;
    width: 60%;
    vertical-align: middle;
    text-align: center;
}
div.center-input-password {
    display: table;
    height: 30%;
    width: 100%;
}
div.center-input-password-text {
    display: table-cell;
    height: 100%;
    width: 40%;
    vertical-align: middle;
    text-align: center;
}
div.center-input-password-text p {
    font-size: 4vh;
}
div.center-input-password-box {
    display: table-cell;
    height: 100%;
    width: 60%;
    vertical-align: middle;
    text-align: center;
}
div.center-input-submit {
    display: table;
    height: 20%;
    width: 100%;
}
div.center-input-submit-button {
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}
input[type="text"] {
    width: 35vw;
    height: 4vh;
    font-size: 3vh;
}
input[type="password"] {
    width: 35vw;
    height: 4vh;
    font-size: 5vh;
}
input[type="submit"] {
    width: 8vw;
    height: 4vh;
}